@import '~antd/dist/antd.css';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ol,
ul,
fieldset,
legend {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol
li,
figure,
figcaption,
blockquote,
dl,
fieldset,
dd {
  margin: 0;
}

/* Set core body defaults */
body,
#app {
  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input,
fieldset {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: fit-content;
  box-sizing: border-box !important;
}

textarea,
input:focus {
  outline: unset;
}

button {
  border: unset;
  background-color: transparent;
}

i {
  font-style: normal;
}

span {
  font-size: inherit;
  color: inherit;
}